<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Modification Page</h1>
       <p class="modify" *ngIf="modify">
          </p>
    </div>
  </div>
  <div class = "container">
    <br>
    <p-dropdown [options]="functions" [(ngModel)]="funct"></p-dropdown>
    <p-dropdown [options]="tables" [(ngModel)]="tbl"></p-dropdown>
    <textarea [rows]="5" [cols]="10" pInputTextarea autoResize="autoResize"
    type="text" class="form-control" id="query" required [(ngModel)]="query"
    name="query" placeholder="Enter Values, Set And/Or Where Parameters: &emsp; ex: (name, id) VALUES ('sam', 'qwerty');'"></textarea>
  </div>
  <div class = "container" id = "content">
  <br>
  
  <p-button label="Modify" (onClick)="handleClick($event)"></p-button>
  <p id = "Message">{{ resultMessage }}</p>
  </div>